body{
    font-family: 'Source Sans Pro', sans-serif;
}
.navbar-default {
    background-color: #88002d;
    border-color: #88002d;
}
.logo{
    height:50px;
    position: absolute;
    top: 0;
}

#newRow{
    display: none;
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#login-dp .form-group {
    margin-bottom: 10px;
}

/******************************************* div to table ***********************************/
/*.form-control {
    border: 0;
    box-shadow: none;
}*/
.col-sm-1.th.btn-create-head{
    padding-top: 2.8px;
    padding-bottom: 2.8px;
}
.newrow{
    background: #efefef;
}
.panel{
    margin-top: 70px;
}
.table-striped>.tbody>.tr:nth-of-type(2n+1) {
    background-color: rgb(249, 249, 249);
}

.table {
    border-spacing: 0px;
    border-collapse: collapse;
    background-color: transparent;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 1px solid rgb(221, 221, 221);
}
.td,
.th {
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

.th {
    text-align: left;
    font-weight: bold;
}

.tr>.td,
.tr>.th {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border: 1px solid rgb(221, 221, 221);
}
.tr>.td {
    height: 150px;
}

.table>.thead>.tr>.th {
    vertical-align: bottom;
    border-bottom: 2px solid rgb(221, 221, 221);
}
.table>.thead:first-child>.tr:first-child>.td,
.table>.thead:first-child>.tr:first-child>.th {
    border-top: 0px;
}
.table-bordered>.tbody>.tr>.td,
.table-bordered>.tbody>.tr>.th,
.table-bordered>.tfoot>.tr>.td,
.table-bordered>.tfoot>.tr>.th,
.table-bordered>.thead>.tr>.td,
.table-bordered>.thead>.tr>.th {
    border: 1px solid rgb(221, 221, 221);
}

.table-bordered>.thead>.tr>.td,
.table-bordered>.thead>.tr>.th {
    border-bottom-width: 2px;
}
/***** Example custom styling *****/
.input-file-container {
  position: relative;
  width: 225px;
  overflow: hidden;
} 
.js .input-file-trigger {
  display: block;
  padding: 7px 0px;
  background: #39D2B4;
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
}
.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: #34495E;
  color: #39D2B4;
}


@media(max-width:768px){

    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
